<blockquote class="blockquote-no-margin">
    <h2 id="learning-during-covid-19">Learning During COVID-19</h2>
    <p>
        The COVID-19 pandemic is still ongoing and will present new, 
        unexpected challenges to our class and to our community at Northwestern. 
        I want to acknowledge that things are difficult for many of us on multiple fronts. 
        Some thoughts:
    </p>
    <ol>
        <li>
            Your health and well-being is always top priority. 
            Please communicate with me (Sarah) or a member of the course staff if you have something going 
            on so that we can figure out a path forward together.
        </li>
        <li>
            There are numerous resources at Northwestern that are in 
            place to support students with extenuating circumstances 
            (e.g. CAPS, talking to your academic advisor, talking to 
            the dean of students, etc.). I can help you navigate these 
            paths if you need help.
        </li>
    </ol>
</blockquote>