{% assign optional = 0 %}
{% assign pick_one = 0 %}
{% assign add_pick_one = 0 %}

<br><br>Please complete the following readings before the end of the week:

<ul class="readings">
{% for item in page.readings %}
    {% if item.optional == 1 %}
        {% assign optional = 1 %}
    {% elsif item.pick_one == 1 %}
        {% assign pick_one = 1 %}
    {% elsif item.add_pick_one == 1 %}
        {% assign add_pick_one = 1 %}
    {% else %}
        {% include reading.html %} 
    {% endif %}
{% endfor %}
</ul>


{% if pick_one == 1 %}
    <div class="optional-readings">Pick one (or more!) of the following to complete before the end of the week</div>
    <ul class="readings">
    {% for item in page.readings %}
        {% if item.pick_one == 1 %}
            {% include reading.html %} 
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}

{% if add_pick_one == 1 %}
    <div class="optional-readings">Additionally, choose one (or more!) of the readings below to also complete before the end of the week:</div>
    <ul class="readings">
    {% for item in page.readings %}
        {% if item.add_pick_one == 1 %}
            {% include reading.html %} 
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}

{% if optional == 1 and hide_optional == null %}
    <div class="optional-readings">Recommended (Optional)</div>
    {{hide_optional}}

    <ul class="readings">
    {% for item in page.readings %}
        {% if item.optional == 1 %}
            {% include reading.html %} 
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}
